.NewsOneContainer {
    width: 100%;
    min-height: 90vh;
    padding-top: 2rem;
    height: auto;
    overflow: hidden;
    border-bottom: 2px solid #878787b5;
}

.NewsOneLeft {
    width: 38%;
    height: auto;
    margin: 1rem;
    float: left;
}

.NewsOneRight {
    width: 55%;
    height: auto;
    margin: 1rem;
    float: left;
}

#ImgMain {
    width: 95%;
    height: 50vh;
    background-size: cover;
    object-fit: cover;
    margin: 2%;
}

.LetfTextContainer {
    width: 98%;
    margin: 2%;
    height: 40vh;
    /* height: auto; */
}
.RightAlign{
    width: 98%;
    min-height: 40vh;
    height: auto;
    overflow: hidden;
}

.oneright-left {
    width: 50%;
    height: 40vh;
    float: left;

}

.oneright-right {
    width: 50%;
    min-height: 40vh;
    height: auto;
    float: left;

}

#ImgMain2 {
    width: 94%;
    height: 30vh;
    object-fit: cover;
    margin: 2%;

}

@media screen and (width< 1100px) {
    .NewsOneLeft {
        width: 100%;
    }

    .NewsOneRight {
            
            width: 100%;
        
    }
    .LetfTextContainer {
        height: auto;
    }
    .oneright-right {
        width: 30%;
        height: auto;
      
    
    }
    .oneright-left {
        width: 70%;
    }
    
}
